{% extends 'base.html.twig' %}

{% block title %}Monitoring Tool{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

{% endblock %}

{% block body %}
    <h2 class="genus-name">IP Address {{ ip }}</h2>

    <div id="content">
        {{ include(':monitoringip:_content.html.twig', {'snmpList': snmpList}) }}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        var auto_refresh = setInterval(function () {
            $.ajax({
                url: "{{ path('snmp_new', {'ipAddress': ip, 'interface': interface})}}",
                type: 'GET',
                success: function(output) {
                    $('#content').html(output);
                }
            });
        }, 20000);
    </script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="application/javascript">
        {{ gc_draw([lineChartInOctets, lineChartOutOctets ],['lineChartInOctets', 'lineChartOutOctets']) }}
    </script>

{% endblock %}
